        <!-- Start page sidebar wrapper -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar">
                <ul class="page-sidebar-menu  page-header-fixed ">
                   
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="PageOne"> <i class="fa fa-flash"></i> <span class="title">Page One</span> </a>
                        
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="PageTwo"> <i class="fa fa-map"></i> <span class="title">Page Two</span> </a>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
        <!-- End page sidebar wrapper -->